---
import Producto from "./Producto.astro";
import Navegation from "./navegation.astro";
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav>
        <Producto />
        <ThemeIcon />
        <Navegation />
    </nav>
</header>